.default {
  color: #555;
  padding: 6px 20px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
}
.primary {
  color: #fff;
  border: none;
  background: #009688;
}
.normal {
  color: #fff;
  border: none;
  background: #1e9fff;
}
.danger {
  color: #fff;
  border: none;
  background: #f14e44;
}