@import './index.scss';
.pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pos-left-center {
  top: 50%;
  transform: translate(0, -50%);
}
.nowrap {
  white-space: nowrap;
}
.flex-row-center {
  @include setFlexDisplay();
}
.flex-col-center {
  @include setFlexDisplay(column);
}
.flex-row-between-center {
  @include setFlexDisplay(row, space-between);
}
.flex-col-between-center {
  @include setFlexDisplay(column, space-between);
}
.ellipsis-line-1 {
  @include setEllipsis();
}
.flex {
  flex: 1;
}
.fixed-box {
  @include setFixed()
}
.theme-color {
  color: $theme;
}
