.side-nav-box {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 14px;
  color: #777;
  > .side-nav {
    width: 110px;
    height: 100%;
    overflow-y: scroll;
    > .side-nav-item {
      width: 100%;
      height: 44px;
      line-height: 44px;
      background: #fff;
      padding: 0 15px 0 10px;
    }
    .active-nav-item {
      color: #e54847;
      background: rgb(245, 245, 245);
    }
  }
  .content-list {
    color: #000;
    width: calc(100% - 114px);
    height: 100%;
    overflow-y: hidden;
    background: rgb(245, 245, 245);
    .content-list-item {
      display: flex;
      width: 100%;
      height: 45px;
      line-height: 45px;
      padding-left: 12px;
      > .icon {
        font-size: 8px;
        color: #e54847;
        width: 20px;
        height: 100%;
      }
      > .item-content {
        width: 100%;
        display: flex;
        > div:nth-child(2) {
          height: 100%;
          width: 24px;
          font-size: 12px;
        }
      }
    }
    .color-777 {
      color: #777;
    }
    .active-content-item {
      color: #e54847;
    }
  }
}
